.logo_image {
  width: 80px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: aqua;
  font-size: 30px;
}

.navigation ul {
  display: flex;
}

.nav_li {
  margin-right: 30px;
}

a {
  text-decoration: none;

}

.image {
  display: block;
  width: 600px;
  height: 400px;
  margin: 0 auto;
}

.section2 {
  display: flex;
  justify-content: space-evenly;
  margin-top: 30px;
}

.section2 div {
  width: 500px;
  height: 300px;
  background-color: rgb(139, 229, 13);
  margin-right: 10px;
  }

.batumi_image {
  width: 300px;
  height: 150px;
}

.fa-brands {
  color: blue;
  font-size: 30px;
}

.divaider {
  width: 2px;
  height: 30px;
  background-color: blue;
  display: inline-block;
}
